{{template "header" .}}

<div class="p-8 w-full">
    <H1 class="pt-4 pb-8 text-3xl font-bold text-gray-800">My Galleries</h1>
    <!-- add code to render galleries-->
    </div>

{{template "footer" .}}